/* Cache le lecteur audio natif */
.album-audio {
  display: none;
}

/* Personnalisation du bouton de lecture */
.album-play-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.album-song-audio {
  display: none;
}
.album-play-button:hover {
  background-color: #5f5f5f;
}

.album-list-item {
  display: flex;
  justify-content: flex;
  width: 100%;
  max-width: 1400px;
  padding: 200px;
  gap: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.album-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.album-title {
  width: 500px;
  color: white;
  margin: 0;
  font-size: 32px;
}

.album-img {
  width: 350px;
  height: auto;
  border-radius: 20px;
  display: flex;
}

.album-description {
  color: white;
  width: 500px;
}

.album-song-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: white;
}

.album-song-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.album-song-title {
  margin: 0;
  width: 70%;
  font-size: 16px;
  color: white;
}

.album-song-number {
  margin: 0;
  width: 30%;
  font-size: 16px;
  color: white;
  text-align: right;
}

.album-show-more,
.album-show-less {
  background-color: #3a3a3a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.album-show-more:hover,
.album-show-less:hover {
  background-color: #5f5f5f;
}

@media (max-width: 992px) {
  .album-list-item {
    flex-direction: column;
    padding: 15px;
  }

  .album-img {
    width: 100%;
  }

  .album-description {
    width: 100%;
  }

  .album-song-title,
  .album-song-number {
    font-size: 14px;
  }

  .album-song-info {
    flex-direction: column;
    gap: 10px;
  }
}
