body {
    font-family: 'Zilla Slab', serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .main-container {
    flex: 1; /* L'élément .main-container occupe tout l'espace restant */
  }
  
  /* Masque la Navbar sur les petits écrans */
  .navbar {
    display: block;
  }
  
  .burger-menu {
    display: none;
  }
  
  /* Sur les petits écrans (par exemple, moins de 700px), masque la Navbar et affiche le BurgerMenu */
  @media (max-width: 700px) {
    .navbar {
      display: none;
    }
  
    .burger-menu {
      display: block;
    }
  }
  
  /* Vidéo de fond */
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  /* Bouton mute */
  .mute-button,
  .change-video-button {
    position: absolute;
    bottom: 20px; /* Positionné en bas */
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 12px;
    font-size: 22px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    width: 50px; /* Taille ajustée pour plus de cohérence */
    height: 50px; /* Taille ajustée pour plus de cohérence */
    margin: 0 10px; /* Marge autour des boutons */
  }
  
  /* Alignement des boutons */
  .mute-button {
    left: 5%; /* Aligné à 5% du côté gauche */
  }
  
  .change-video-button {
    right: 5%; /* Aligné à 5% du côté droit */
  }
  
  /* Effet au survol */
  .mute-button:hover,
  .change-video-button:hover {
    background: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  /* Responsivité pour les boutons */
  @media screen and (max-width: 768px) {
    .mute-button {
      bottom: 30px;
      left: 5%;
    }
  
    .change-video-button {
      bottom: 30px;
      right: 5%;
    }
  }
