/* Conteneur principal */
.panier-container {
  max-width: 70%;
  margin: 10em auto;
  padding: 1em;
  background-color: #f9f9f9;
  border-radius: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 12em;
}

/* Titre */
.panier-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 1em;
}

/* Message si le panier est vide */
.panier-container p {
  text-align: center;
  color: #777;
}

/* Conteneur des articles */
.panier-items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

/* Article individuel */
.panier-item {
  height: 10em;
  width: 20em;
  display: flex;
  gap: 1em;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2em;
  align-items: center;
  justify-content: center;
}

/* Image produit */
.image-produit {
  width: 7em;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Détails du produit */
.panier-item h3 {
  margin: 0;
  color: #333;
}

.panier-item p {
  margin: 1em 0;
  color: #555;
}

/* Contrôle des quantités */
.quantite-control {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.quantite-control button {
  width: 2em;
  height: 2em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.quantite-control button:hover {
  background-color: #0056b3;
}

.quantite-control span {
  font-size: 1em;
  color: #333;
}

/* Bouton supprimer */
.supprimer-btn {
  margin-top: 2em;
  padding: 1em 3em;
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.supprimer-btn:hover {
  background-color: #d9363e;
}

.valider-btn {
  text-align: center;
  font-size: 2em;
  margin-left: 1em;
}

/* Section total */
.panier-total {
  text-align: center;
  margin-top: 20px;
}

.panier-total h2 {
  font-size: 24px;
  color: #333;
}

/* Bouton vider le panier */
.vider-panier-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vider-panier-btn:hover {
  background-color: #d9363e;
}
