:root {
  --primary-color: rgba(245, 104, 225, 1);
  --secondary-color: rgba(40, 57, 156, 1);
  --tertiary-color: rgba(78, 87, 136, 1);
  --card-bg: rgba(255, 0, 208, 0.182);
  --button-bg: rgb(168, 41, 241);
  --text-color: whitesmoke;
}

body {
  font-family: "Zilla Slab", serif;
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    var(--secondary-color) 50%,
    var(--tertiary-color) 100%
  );
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  min-height: 100vh;
}

.panier-container {
  max-width: 70%;
  margin: 15em auto;
  padding: 1em;
  background-color: var(--card-bg);
  border-radius: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.panier-container h1 {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 1em;
  font-size: 2rem;
}

.panier-container p {
  text-align: center;
  color: #777;
}

.panier-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 50px;
  align-items: start;
  justify-items: center;
  padding: 20px;
}

.panier-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: var(--card-bg);
  border-radius: 2em;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  overflow: hidden;
}
.panier-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.panier-item:hover {
  animation: shadowPulse 1.5s ease-out infinite;
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
}

.image-produit {
  width: 7em;
  height: 7em;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.panier-item h3 {
  margin: 0;
  color: var(--text-color);
  text-align: center;
}

.panier-item p {
  font-size: 1.5rem;
  font-weight: bold;
  color: whitesmoke;
}

.quantite-control {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.quantite-control button {
  width: 2em;
  height: 2em;
  background-color: var(--button-bg);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.quantite-control button:hover {
  background-color: #0056b3;
}

.quantite-control span {
  font-size: 1em;
  color: var(--text-color);
}

.supprimer-btn {
  margin-top: 2em;
  padding: 1em 3em;
  background-color: #ff4d4f;
  color: var(--text-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.supprimer-btn:hover {
  background-color: #d9363e;
}

.valider-btn {
  font-size: 2rem;
  margin: 1em auto;
  padding: 15px 30px;
  background-color: var(--button-bg);
  color: var(--text-color);
  border: none;
  border-radius: 50px;
  font-family: "Zilla Slab", serif;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  display: block;
  width: auto;
}

.valider-btn:hover {
  background-color: #d9363e;
}

.panier-total {
  text-align: center;
  margin-top: 20px;
}

.panier-total h2 {
  font-size: 24px;
  color: var(--text-color);
}

.vider-panier-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vider-panier-btn:hover {
  background-color: #d9363e;
}

@media screen and (max-width: 1200px) {
  .panier-items {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
  }
}

@media screen and (max-width: 992px) {
  .panier-items {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .panier-items {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }
}

@media screen and (max-width: 576px) {
  .panier-items {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
