body {
  background: linear-gradient(
    180deg,
    rgba(245, 104, 225, 1) 0%,
    rgba(40, 57, 156, 1) 50%,
    rgba(78, 87, 136, 1) 100%
  );
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #333;
  min-height: 100vh;
}
.main {
  margin: 13em;
}

h1 {
  text-align: center;
}
.goodies-grid {
  color: whitesmoke;
  display: grid; /* Utilise le grid pour la mise en page */
  grid-template-columns: repeat(4, 1fr); /* Espace entre les éléments */
  padding: 20px; /* Padding autour de la grille */
}

.goodie-card {
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  gap: 5em;
}

.goodie-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 15px;
}

.navbar {
  position: absolute;
}

<<<<<<< HEAD
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
=======
/* .footer {
  position: fixed;
} */
>>>>>>> 440d3facc5c207cd77d68ac1c6af3fee0a2d1ca6
