/* Container global */
.concerts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
}

/* Conteneur pour titre et image */
.title-wave-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

/* Titre principal */
.concerts-title {
  font-size: 2rem;
  margin-right: 10px; /* Ajoute un petit espace entre le titre et l'image */
}

/* Image de vague */

/* Sous-titre */
.concerts-subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}

/* Liste des concerts */
.concerts-list {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

/* Carte de chaque concert */
.concert-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
}

/* Container pour les informations du concert */
.concert-info {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

/* Case des éléments du concert (date, lieu, prix) */
.concert-item {
  padding: 5px 10px;
  flex-grow: 1;
  text-align: center;
}

/* Bouton "Acheter le ticket" */
.concert-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.h1-Wave {
  display: flex;
}
.concert-button:hover {
  background-color: #0056b3;
}

/* Bouton Ajouter plus / Réduire */
.add-more-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-more-button:hover {
  background-color: #218838;
}
