/* Footer style */
.footer {
  bottom: 30px; /* Ajuste cette valeur pour le remonter */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 15px 0;
  z-index: 10;
  gap: 15px;
  background-color: transparent; /* S'assurer qu'il soit transparent */
  position: fixed;
}

/* Reste des styles du footer */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  transition: background-color 0.3s ease;
}

.social-icons a img {
  width: 24px;
  height: 24px;
}

.social-icons a:hover {
  background-color: rgb(168, 41, 241);
}

/* Texte à côté des icônes */
.footer-text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  flex-direction: row;
  color: #ccc;
  margin-left: 15px; /* Espacement entre les icônes et le texte */
}

/* Responsive Styling */
@media screen and (max-width: 1024px) {
  .footer {
    flex-direction: row; /* En ligne (horizontal) pour les laptops */
    justify-content: space-between; /* Espacement entre le texte et les icônes */
  }

  .footer-text {
    font-size: 14px;
    display: inline-block; /* Assurer que le texte soit visible */
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column; /* En colonne pour les tablettes et mobiles */
    align-items: center; /* Centrer les éléments */
  }

  .footer-text {
    font-size: 12px;
    flex-direction: column;
    display: block; /* Afficher le texte en mode responsive */
  }
  .social-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

@media screen and (max-width: 480px) {
  .social-icons a {
    width: 30px;
    height: 30px;
  }

  .footer-text {
    font-size: 10px;
  }
}

/* Resetting background color for body to prevent unwanted background on footer */
body {
  background-color: transparent; /* Assurer que le fond est transparent */
  margin-bottom: 0; /* Retirer toute marge en bas */
}

/* Pour la page de base (accueil et album) */
body.home,
body.album {
  background-color: transparent; /* S'assurer que le fond reste transparent */
}
