.navbar {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  text-align: center;
}

.burger-button {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: whitesmoke;
  cursor: pointer;
}

@media screen and (max-width: 912px) {
  .nav-links ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .nav-links.open ul {
    display: flex;
  }

  .burger-button {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .navbar {
    justify-content: center;
  }
}
